@import '~bootstrap/scss/bootstrap';

// TRANSITIONS
$tr_fast: all 0.2s ease;
$tr_default: all 0.3s ease;
$tr_slow: all 0.6s ease;


* {
	outline: 0 !important;
}

body {
	padding: 0;
	margin: 0;
	font-size: 22px;
	font-family: 'Montserrat', sans-serif;
}

.leftSide {
	padding-top: 100px;
	padding-left: 85px;
}

.logo {
	width: 290px;
	height: 240px;
}

.bg-blue {
	background: #6d6286;
	background: -moz-linear-gradient(left, #6d6286 0%, #292147 96%, #292147 100%, #2989d8 100%, #207cca 100%, #292147 102%);
	background: -webkit-linear-gradient(left, #6d6286 0%,#292147 96%,#292147 100%,#2989d8 100%,#207cca 100%,#292147 102%);
	background: linear-gradient(to right, #6d6286 0%,#292147 96%,#292147 100%,#2989d8 100%,#207cca 100%,#292147 102%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d6286', endColorstr='#292147',GradientType=1 ); /* IE6-9 */

}

.bg-grey {
	background-color: #FBF7F3;
	padding-bottom: 80px;
}

h3 {
	color: #31294F;
	font-size: 50px;
}

p {
	margin-top: 60px;
	font-size: 34px;
}

.customButton,
button {
	margin-top: 60px;
	display: inline-block;
	border-radius: 10px;
	border: none;
	margin-bottom: 30px;
	font-size: 14px;
	color: #fff;
	cursor: pointer;
	background-color: #CB9E62;
	padding: 20px 65px;
	text-transform: uppercase;
	font-weight: 700;
	transition: $tr_fast;

	&:hover {
		text-decoration: none;
		color: #fff;
		background-color: lighten(#CB9E62, 15%);
	}
}

.fz22 {
	font-size: 22px;
}

.metaMaskLogo {
	width: 276px;
	height: 252px;
	text-align: center;
	margin: 170px auto 0 auto;
}

.tac {
	text-align: center;
}

.footer {
	p {
		font-size: 14px;
		color: #9B938A;
	}
}

.cta {
	position: relative;
	width: 100%;
	max-width: 460px;
	margin: 0 auto;

	svg {
		width: 100%;
		height: 100%;
		margin: 0 auto;
		opacity: .15;
		margin-top: 50px;
	}

	form {
		position: absolute;
		top: 35%;
		left: 0;
		text-align: center;

		@media (max-width: 992px) {
			top: 6%;
		}

	}

	label {
		display: inline-block;
		top: 250px;
		left: 0;
		color: #fff;
		width: 100%;
		text-align: center;
		margin-bottom: 40px;
	}

	input {
		display: inline-block;
		border: 0;
		left: 0;
		border-radius: 10px;
		width: 100%;
		text-align: center;
	}

}
