//COLORS
$white: #FFFFFF;
$main_red: #C65E5E;
$main_red_hover: #D67C7C;
$light_grey: #FAFAFA;
$dark_grey: #707070;

// TRANSITIONS
$tr_fast: all 0.2s ease;
$tr_default: all 0.3s ease;
$tr_slow: all 0.6s ease;
